## Preprocessing data for French salaries DV Project

### Import

In [2]:
import pandas as pd
import numpy as np

### Getting the data

In [3]:
salaries = pd.read_csv('salaries.csv', sep=';', low_memory=False, encoding = 'UTF-8')

In [4]:
salaries.head()

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
0,01004,Ambérieu-en-Bugey,"13,7","24,2","15,5","10,3","11,2","11,6","19,1","13,2",...,"11,6","10,5","13,7","16,1","9,7","11,8","12,5","11,0","14,9","18,6"
1,01007,Ambronay,"13,5","22,1","14,7","10,7","11,4","11,9","19,0","13,3",...,"11,7","9,8","13,8","14,6","9,2","12,2","12,5","10,2","14,9","16,4"
2,01014,Arbent,"13,5","27,6","15,6","11,1","11,1","10,9","19,5","11,7",...,"11,8","9,3","13,3","16,0","8,9","10,6","12,5","9,6","15,1","18,6"
3,01024,Attignat,"12,9","21,8","14,1","11,0","11,3","11,4","19,0","13,0",...,"11,6","9,6","12,9","14,2","9,3","11,4","12,2","9,7","13,8","15,9"
4,01025,Bâgé-la-Ville,"13,0","22,8","14,1","10,5","11,1","11,6","19,4","13,6",...,"11,4","9,4","12,8","15,2","9,0","11,8","12,3","9,7","13,4","16,9"

In [9]:
population = pd.read_csv('population.csv', sep=';', low_memory=False, encoding = 'UTF-8')

In [10]:
population.head()

     COM                   LIBCOM  P14_POP
0  01001  L'Abergement-Clémenciat      767
1  01002    L'Abergement-de-Varey      239
2  01004        Ambérieu-en-Bugey     1727
3  01004        Ambérieu-en-Bugey     3732
4  01004        Ambérieu-en-Bugey     3916

In [7]:
geo_info = pd.read_csv('name_geographic_information.csv', sep=',', low_memory=False, encoding = 'UTF-8')

In [8]:
geo_info.head()

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01

### Preprocessing

In [11]:
# sum all population from the same city (in the xls file they were separated by hood in the city)
pop_sum=population.groupby(['COM','LIBCOM'],as_index=False).sum()

In [12]:
# join salaries and population
test_merge1=salaries.merge(pop_sum[['COM','P14_POP']], left_on='CODGEO', right_on='COM', how='left')

In [14]:
# find all the cities which have not found their population
test_merge_null=test_merge1[test_merge1['COM'].isnull()]
list_cities=test_merge_null['LIBGEO'].tolist()

In [32]:
test_merge1.head()

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,...,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014,COM,P14_POP
0,01004,Ambérieu-en-Bugey,"13,7","24,2","15,5","10,3","11,2","11,6","19,1","13,2",...,"13,7","16,1","9,7","11,8","12,5","11,0","14,9","18,6",01004,14021.0
1,01007,Ambronay,"13,5","22,1","14,7","10,7","11,4","11,9","19,0","13,3",...,"13,8","14,6","9,2","12,2","12,5","10,2","14,9","16,4",01007,2570.0
2,01014,Arbent,"13,5","27,6","15,6","11,1","11,1","10,9","19,5","11,7",...,"13,3","16,0","8,9","10,6","12,5","9,6","15,1","18,6",01014,3405.0
3,01024,Attignat,"12,9","21,8","14,1","11,0","11,3","11,4","19,0","13,0",...,"12,9","14,2","9,3","11,4","12,2","9,7","13,8","15,9",01024,3386.0
4,01025,Bâgé-la-Ville,"13,0","22,8","14,1","10,5","11,1","11,6","19,4","13,6",...,"12,8","15,2","9,0","11,8","12,3","9,7","13,4","16,9",01025,3177.0

In [15]:
list_cities

['Marseille',
 'Guipry',
 'Chéméré',
 'Andard',
 "Brain-sur-l'Authion",
 'Corné',
 'Drain',
 'Gesté',
 'Valanjou',
 'Jallais',
 'Liré',
 'Le Longeron',
 'La Meignanne',
 'Montfaucon-Montigné',
 'Montjean-sur-Loire',
 'Pellouailles-les-Vignes',
 'Saint-André-de-la-Marche',
 'Saint-Florent-le-Vieil',
 'Saint-Germain-sur-Moine',
 'Saint-Laurent-des-Autels',
 'Saint-Pierre-Montlimart',
 'Torfou',
 'Villedieu-la-Blouère',
 'Équeurdreville-Hainneville',
 'La Glacerie',
 'Querqueville',
 'Tourlaville',
 'Lyon',
 'Metz-Tessy',
 'Paris',
 'Les Clouzeaux',
 'Saint-Michel-Mont-Mercure']

We see that we have a lot of cities to fix but I will first focus on the big cities which are Paris, Marseille and Lyon (that's normal they don't succeed during the merge because they are separated into several districts)

In [34]:
lyon=pop_sum['P14_POP'][pop_sum.LIBCOM.str.match('Lyon (.*) Arrondissement')].sum()
test_merge1.at[np.where(test_merge1['LIBGEO'] == 'Lyon')[0],'P14_POP']=lyon

In [35]:
paris=pop_sum['P14_POP'][pop_sum.LIBCOM.str.match('Paris (.*) Arrondissement')].sum()
test_merge1.at[np.where(test_merge1['LIBGEO'] == 'Paris')[0],'P14_POP']=paris

In [36]:
marseille=pop_sum['P14_POP'][pop_sum.LIBCOM.str.match('Marseille (.*) Arrondissement')].sum()
test_merge1.at[np.where(test_merge1['LIBGEO'] == 'Marseille')[0],'P14_POP']=marseille

In [39]:
metz=pop_sum['P14_POP'][pop_sum.LIBCOM.str.contains('Metz-Tessy', case=False, regex=False)].sum()
test_merge1.at[np.where(test_merge1['LIBGEO'] == 'Metz-Tessy')[0],'P14_POP']=metz

I will now try to complete the rest of the cities

In [24]:
for cities in test_merge1['LIBGEO'][test_merge1['P14_POP'].isnull()].tolist():
    test_merge1.at[np.where(test_merge1['LIBGEO'] == str(cities))[0][0],'P14_POP']=pop_sum['P14_POP'][pop_sum.LIBCOM.str.contains(str(cities), case=False, regex=False)].sum()

I drop the cities which have less than 1 inhabitants (if there is some?) because it would be an error

In [158]:
test_merge1.drop(test_merge1[test_merge1.P14_POP < 1].index, inplace=True)

In [159]:
# we don't care anymor of this column
test_merge1.drop(['COM'],axis=1,inplace=True)

We now need to convert all column to numeric

In [160]:
test_merge1[['SNHM14','SNHMC14','SNHMP14','SNHME14','SNHMO14','SNHMF14','SNHMFC14','SNHMFP14','SNHMFE14','SNHMFO14','SNHMH14','SNHMHC14','SNHMHP14','SNHMHE14','SNHMHO14','SNHM1814','SNHM2614','SNHM5014','SNHMF1814','SNHMF2614','SNHMF5014','SNHMH1814','SNHMH2614','SNHMH5014']]=test_merge1[['SNHM14','SNHMC14','SNHMP14','SNHME14','SNHMO14','SNHMF14','SNHMFC14','SNHMFP14','SNHMFE14','SNHMFO14','SNHMH14','SNHMHC14','SNHMHP14','SNHMHE14','SNHMHO14','SNHM1814','SNHM2614','SNHM5014','SNHMF1814','SNHMF2614','SNHMF5014','SNHMH1814','SNHMH2614','SNHMH5014']].apply(lambda x: x.str.replace(',','.'))

In [161]:
test_merge1.head()

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,...,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014,P14_POP
0,01004,Ambérieu-en-Bugey,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,...,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6,14021.0
1,01007,Ambronay,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,...,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4,2570.0
2,01014,Arbent,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,...,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6,3405.0
3,01024,Attignat,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,...,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9,3386.0
4,01025,Bâgé-la-Ville,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,...,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9,3177.0

In [162]:
cols=['SNHM14','SNHMC14','SNHMP14','SNHME14','SNHMO14','SNHMF14','SNHMFC14','SNHMFP14','SNHMFE14','SNHMFO14','SNHMH14','SNHMHC14','SNHMHP14','SNHMHE14','SNHMHO14','SNHM1814','SNHM2614','SNHM5014','SNHMF1814','SNHMF2614','SNHMF5014','SNHMH1814','SNHMH2614','SNHMH5014']

for col in cols:
    test_merge1[col]=pd.to_numeric(test_merge1[col])

In [163]:
test_merge1.reset_index(drop=True, inplace=True)

In order to join with the latitude and longitude there is some work to do. For exemple in the geographic inofrmation file the code_insee(same as CODGEO) on which we can merge is in int. So I have to convert to in my other file. The matter is that in Corsica Region the CODGEO is an object in which there is an A and B between the numers. But I saw that on the other file this is replaced by a 0 (otherwise I could'nt convert to integer)

In [184]:
test_merge1['CODGEO']=test_merge1['CODGEO'].apply(lambda x: x.replace('A','0'))

In [185]:
test_merge1['CODGEO']=test_merge1['CODGEO'].apply(lambda x: x.replace('B','0'))

In [186]:
test_merge1['CODGEO']=pd.to_numeric(test_merge1['CODGEO'],errors='raise')

In [204]:
test_merge2=test_merge1.merge(geo_info[['code_insee','latitude','longitude']],left_on='CODGEO',right_on='code_insee',how='inner')

I drop all French overseas regions because I can't show them in my visualisation

In [211]:
test_merge2.drop(test_merge2[test_merge2.CODGEO >95999 ].index, inplace=True)

In [218]:
#I drop where the latitude is null because it will raise an error
test_merge2.dropna(axis=0,inplace=True,subset=['latitude'])

In [220]:
#i don't need anymore the code_insee
test_merge2.drop(['code_insee'],axis=1,inplace=True)

In [228]:
#drop duplicates
test_merge2.drop_duplicates(subset=['CODGEO'], inplace=True)

In [233]:
#convert all column name to lower case
test_merge2.columns = [x.lower() for x in test_merge2.columns]

### Exportation of the final CSV file

In [ ]:
test_merge2.to_csv('salaries_population.csv', sep=',',encoding='utf-8',index=False)